body {
  overflow-x: hidden;
  background-color: #f9f2e6;
  margin: 25px;
  padding-left: 1cm;
}
h1 {
  font-family: sans-serif;
  text-align: center;
}
.menu {
  position: absolute;
  top: 1ch;
  max-width: fit-content;
  display: grid;
  grid-template-columns: 20ch 25ch 25ch;
  font-size: 10px;
}

.title {
  position: absolute;
  left: 140px;
  top: 5px;
  padding-left: 400px;
  color: #0008c6;
}
p {
  font-family: "Sligoil";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 33px;
  color: #0008c6;
}
.intro-text {
  padding-top: 1cm;
  max-width: 25cm;
}

.student-groups {
  margin-top: 160px;
  font-family: "Sligoil";
  font-weight: 100;
  line-height: 80px;
  font-size: 33px;
  color: #c83636;
  text-align: center;
  transform: rotate(-10deg);
  background-color: #fbf374;
  height: 80px;
  width: 300px;
}
.student-groups:hover,
.student-groups:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.spin-on-hover {
  position: relative;
  max-width: fit-content;
  top: 0px;
  bottom: 700px;
  left: 600px;
  right: 0;
  transition: transform 0.9s ease;
}
.spin-on-hover:hover {
  transform: rotate(360deg);
}
.container {
  display: flex;
}

.panel {
  position: fixed;
  right: 0px;
  top: 0;
  /* my code */
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 400vh;
  left: 0px;
  top: 0px;
  padding-left: 70px;
  padding-right: 70px;

  background: #fdeae5;
  border-width: 0px 3px;
  border-style: solid;
  border-color: #000000;
  transform: translateX(90vw); /* hide panel initially */
  transition: transform 0.3s ease-out; /* animate transform on hover */
}

.panel:hover {
  transform: translateX(85vw); /* slide panel out on hover */
}

.out {
  /* instead of doing % you can do the exact amount you set the panel to be. You can later set it to 100vw which would be the width of the screen */
  /* ok i changed it to vw, you can change it back if you want */
  transform: translateX(0) !important;
}

.content {
  flex: 1;
  font-size: 30px;
}

